# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Build output
dist/
lib/
coverage/

# TypeScript
*.tsbuildinfo

# Environment files
.env
.env.local
.env.*.local

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test artifacts
jest-cache/
*.spec.ts
*.test.ts

# Misc
*.tgz
